HELP.md
target/
logs/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/main/resources/application.yml
src/main/resources/ddl_jpa_creation.sql

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
LICENSE
mvnw
mvnw.cmd

### IntelliJ IDEA ###
.idea
.mvn
*.iws
*.iml
*.ipr